/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
  font-family: arial;
  font-size: 14px;
  color: #222;
  margin: auto;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}
header li{
    float: left;
    display: inline;
    padding: 30px 50px 30px 50px;
    background-color: brown;
    margin: 0 30px 30px 30px;
}
header #logo{
    float: left;
    margin-left: 20px;
}
header #logo h1{
    margin: 0;
}
header nav{
    float: right;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #e8491d;
    display: block;
    width: 60px;
}

.button2 {
  float: left;
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid black;
}




/*#menu {
  float:right;
}

#menu a{
  text-decoration: none;
}*/

/*ul li {
  list-style-type: none;
  padding: 0 20px 0 20px;
}*/
